button {
    @extend .btn;
    @extend .btn-neutral;
}

@import 'argon-design-system';


// Selection
::-moz-selection {
    text-shadow: none;
    background: #dfe2f1;
}

::selection {
    text-shadow: none;
    background: #dfe2f1;
}


// Main Content
#dokuwiki__content {

    // Edit Button
    .secedit button {
        @extend .btn; 
        @extend .btn-primary;
        @extend .btn-sm;
        margin-bottom: 1em;
        float: right;
    }

    // Page Revisions Button
    #page__revisions button {
        @extend .btn; 
        @extend .btn-primary;
    }

    // Wiki Edit Menu Buttons
    .editButtons button{
        @extend .btn; 
        @extend .btn-primary;
        @extend .btn-sm;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    
    // Inline Code
    :not(pre)>code {
        background-color: inherit;
        padding: .1em;
        border-radius: .3em;

        
    }

    // Code Blocks
    pre {
        font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
        font-size: 14px;
        line-height: 1.375;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        background: #f5f7ff;
        color: #5e6687;
        border: 0;
        border-radius: .55rem;
        padding: 1.25rem;
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
        overflow: auto;

    }
    
}

// Tool Bar Buttons
#tool__bar button {
    @extend .btn; 
    @extend .btn-secondary;
    @extend .btn-sm;
    margin-bottom: 2em;
}

// Right Sidebar Table of Contents
.ct-toc {
    #dw__toc {

        float:inherit;
        margin:inherit;
        width:inherit;
        background-color:inherit;
        color:inherit;
        box-sizing: border-box;
        margin-right: 0em;
        padding-left: 0;
        border-left: 1px solid #eee;

        
        h3 {
            display: none;
        }

        a {
            display: block;
            padding: .125rem 1rem;
            color: #99979c;
            font-size: 100%;
        }
          
        a:hover {
            color:#5e72e4;
            text-decoration: none;
        }


        ol, ul, dl {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        ul {
            margin-bottom: 0.5rem;
        }

        ul {
            list-style: disc outside;
            list-style-position: outside;
            list-style-image: none;
            list-style-type: disc;
        }
    }
    // .clear {
    //     @extend .section-nav;    
    //     .li {
    //         @extend .toc-entry;
    //         @extend .toc-h6 !optional;    
    //     }
    //     display: content;
    // }

}


// Search Bar
.doku_form{
    .no {
        @extend .form-group;
        @extend .input-group;
        @extend .mb-4;
        margin: 0rem;
        height: 1.5rem;

        #qsearch__in {
            @extend .form-control;
            width: 10rem; 
            height:1.5rem;
            margin: 0rem;
            margin-right: 1rem;
            margin-left: 1rem;
            border-radius: 0.25rem !important;
        }
        button {
            @extend .btn;
            @extend .btn-neutral;
            margin: 0rem;
        }
    }
    
}

// Search Form
.search-form {
    top:50%;
    position: relative;
}


.toggleAssistant {
    @extend .btn;
    @extend .btn-default;
}

.search-results-form{
    button {
        @extend .btn;
        @extend .btn-primary;
    }

    .toggleAssistant {
        @extend .btn;
        @extend .btn-default;
    }

    fieldset input {
        @extend .form-control;
        display: block;
        width: 90%; 
        height:1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 5%;
        margin-right: 5%;
    } 
}

.advancedOptions {
    width: 30%;
    border-style: dotted;
    border-width: 0.01rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    padding: 1rem;
    margin-left: 5rem;
    .toggle > ul > li {
        list-style-type: disclosure-closed ;
    }
}

// Edit Area

textarea {
    @extend .form-control;
    width: 95%;
    max-width: 100%;
}
